:root {
    --main-background-color: #111;

    --main-color: #a14b04;
    --main-font-family: Saira;

    --border: 3px solid var(--main-color);
    --border-radius: 10px;
}

body {
    background-color: var(--main-background-color);

    color: var(--main-color);
    font-family: var(--main-font-family);
    letter-spacing: 2px;

    margin: 0;
    padding: 10px;
    padding-bottom: 50px;
}

button {
    color: var(--main-color);
    font-family: var(--main-font-family);
    letter-spacing: 2px;

    background-color: var(--main-background-color);
    border: var(--border);
    border-radius: var(--border-radius);

    cursor: pointer;

    &:hover,
    &:focus {
        color: #ccc;
        background-color: var(--main-color);
    }
}



/*
    Access screen 
*/

.access {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: var(--main-background-color);
}

.access-text {
    position: fixed;

    color: var(--main-color);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 20px;

    padding: 30px 50px;

    background-color: var(--main-background-color);
    border: 5px solid var(--main-color);
    border-radius: var(--border-radius);

    @media screen and (max-width: 400px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 30px;

        padding: 30px;
    }
}

.access-input {
    position: fixed;
    bottom: 30px;

    width: auto;
    height: 50px;

    color: var(--main-color);
    font-size: 30px;
    font-weight: 400;
    text-align: center;

    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    border: 0;

    cursor: default;
    outline: none;
    caret-color: transparent;

    &::placeholder {
        font-size: 24px;
        font-style: italic;
        font-weight: 400;
    }

    @media screen and (max-width: 400px) {
        font-size: 20px;
    }
}

.checking {
    animation: checking 1000ms linear infinite;
}

.access-text--error {
    animation: error 1000ms linear;
}


/*
    GUI
*/

#gui-switcher {
    position: absolute;
    top: 10px;
    right: 10px;

    color: #ccc;
    font-weight: 700;

    background-color: var(--main-color);
}



/*
    Favorite
*/

#favorite {
    display: flex;
    flex-direction: column;
    gap: 50px;

    max-width: 1400px;

    margin: 50px auto;
    padding: 0;

    list-style: none;

    overflow: scroll;
    scroll-behavior: smooth;
}



/*
    User card
*/

.user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border: var(--border);
    border-radius: var(--border-radius);

    padding: 30px 50px;

    @media screen and (max-width: 400px) {
        padding: 30px;
    }
}

.user-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: default;

    @media screen and (max-width: 400px) {
        margin-bottom: 30px;
    }
}

.user-avatar {
    width: 86px;
    height: 86px;

    border: var(--border);
    border-radius: var(--border-radius);
    background-size: cover;
    background-position: center;

    cursor: pointer;
}

.user-name {
    display: flex;
    align-items: center;

    height: 86px;

    font-size: 28px;

    margin-left: 30px;

    cursor: default;

    @media screen and (max-width: 400px) {
        max-width: 180px;
    }
}



/*
    Buttons in user card
*/

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

    margin: 10px 0 10px 0;
}

.buttons-stories-block,
.buttons-profiles-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.buttons-stories-individually,
.buttons-profiles-individually {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    & button {
        width: 120px;
        height: 38px;

        font-size: 16px;
        font-weight: 400;

        cursor: pointer;
    }
}

.button-stories,
.button-profiles,
.button-all {
    width: 150px;
    height: 86px;

    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
}



/* 
    Gallery 
*/

.gallery-block {
    position: fixed;
    top: 0px;
    left: 0px;

    display: none;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #000;

    overflow: scroll;

    z-index: 999;
}

.close-gallery-button {
    position: fixed;
    top: 20px;
    right: 20px;

    width: 32px;

    color: #555;
    font-size: 16px;
    font-weight: 700;

    border: 0;

    cursor: pointer;

    z-index: 99;
}

#prev,
#next {
    position: fixed;
    top: 0;

    height: 95vh;

    color: #555;
    font-size: 36px;
    font-weight: 400;

    background-color: rgba(0, 0, 0, 0.5);
    border: 0;

    padding: 30px;

    cursor: pointer;

    @media screen and (max-width: 400px) {
        display: none;
    }
}

#prev {
    left: 0;

    text-align: left;
}

#next {
    right: 0;

    text-align: right;
}

#photo {
    max-height: 100vh;

    cursor: zoom-out;

    @media screen and (max-width: 400px) {
        width: 100vw;
        height: max-content;
    }
}



/*
    All photos in gallery
*/

#all-photos {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

    width: 100%;
    height: 100vh;

    padding: 20px 60px 100px 80px;

    background-color: var(--main-background-color);

    overflow: scroll;

    @media screen and (max-width: 400px) {
        flex-direction: column;
        flex-wrap: nowrap;

        padding: 50px auto;
    }
}

.photo-review-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 200px;

    &:last-child {
        padding-bottom: 50px;
    }
}

.photo-preview {
    max-width: 100%;
    max-height: 100%;

    border-radius: var(--border-radius);

    cursor: zoom-in;

    &:hover,
    &:focus {
        border: var(--border);
        border-width: 5px;
    }
}

.toggle-all-photos {
    position: fixed;
    top: 20px;
    left: 20px;

    width: 32px;

    cursor: pointer;

    z-index: 99;
}



/*
    Console
*/

.console-block {
    position: fixed;
    left: 0;
    bottom: 0;

    display: none;

    width: 100vw;

    z-index: 999;

    & .console-marker {
        position: absolute;
        bottom: 0;
        left: 5px;

        font-size: 20px;
        font-weight: 700;

        margin: 0;
        padding: 0;

        @media screen and (max-width: 400px) {
            bottom: 5px;

            font-size: 30px;
        }
    }
}

#console-log {
    position: absolute;
    left: 0;
    bottom: 30px;

    visibility: hidden;

    width: 100vw;
    max-height: 50vh;

    margin: 0;
    padding: 20px;

    background-color: #111;

    border-top: var(--border);

    list-style: none;
    overflow: scroll;

    @media screen and (max-width: 400px) {
        bottom: 50px;
    }
}

#console {
    width: 100vw;
    height: 30px;

    padding-left: 30px;

    color: var(--main-color);
    font-size: 16px;
    letter-spacing: 1px;

    background-color: #000;

    border: 0;

    outline: none;

    @media screen and (max-width: 400px) {
        height: 50px;

        font-size: 20px;
    }
}



/*
    Animations
*/

@keyframes checking {

    0% {
        color: transparent;
    }

    50% {
        color: var(--main-color);
    }

    100% {
        color: transparent;
    }
}

@keyframes error {
    0% {
        color: transparent;
        border-color: transparent;
    }

    20% {
        color: #a00;
        border-color: #a00;
    }

    40% {
        color: transparent;
        border-color: transparent;
    }

    60% {
        color: #a00;
        border-color: #a00;
    }

    80% {
        color: transparent;
        border-color: transparent;
    }

    100% {
        color: #a00;
        border-color: #a00;
    }
}