body {
    background-color: var(--main-background-color);

    color: var(--main-color);
    font-family: var(--main-font-family);
    letter-spacing: 2px;

    margin: 0;
    padding: 10px;
    padding-bottom: 50px;
}